<div id="projects" class="container content-section">
    <div class="section-head right-head">Featured Projects</div>

    {% for project in featured-projects %}
    <div class="content-box feature-box" id="proj-launchhacks">
    <div class="content content-text feature-content">

        <div class="row">
        <div class="col-9">
            <div class="feature-label {{project.color}}">
            {{project.name}}
            <div class="feature-tag {{project.tagColor}} no-mobile">
                {{project.tag}}
            </div>
            </div>
        </div>
        <div class="col-3 feature-link-container">
            <span class="feature-link" onclick="openInNewTab('{{project.github}}')">
            <i class="fab fa-github"></i>
            </span>
            <span class="feature-link" onclick="openInNewTab('{{project.link}}')">
            <i class="fas fa-external-link-square-alt"></i>
            </span>
        </div>
        </div>

        <div class="row">
        <div class="col-6 feature-text">
            {{project.description}}
        </div>
        <div class="col-6 feature-img-container">
            <img src="img/{{project.image}}" class="feature-img">
        </div>
        </div>

    </div>
    {% endfor %}
</div>