<div id="projects" class="container content-section">
    <div class="section-head right-head">Featured Projects</div>

    {% for project in featured-projects %}
    <div class="content-box feature-box" id="proj-launchhacks">
    <div class="content content-text feature-content">

        <div class="row proj-color feature-header">
        <div class="col-8">
            <div class="feature-label proj-color">
            {{project.name}}
            </div>
        </div>
        <div class="col-4 feature-link-container">
            <a href="{{project.github}}" target="_blank" rel="noopener" class="feature-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="{{project.link}}" target="_blank" rel="noopener" class="feature-link">
                <i class="fas fa-globe"></i>
            </a>
        </div>
        </div>

        <div class="row">
        <div class="col-6 feature-text">
            {{project.description}}
        </div>
        <div class="col-6 feature-img-container">
            <img src="img/{{project.image}}" alt="{{project.name}}" class="feature-img" loading="lazy">
        </div>
        </div>

    </div>
    </div>
    {% endfor %}
</div>