<!-- MORE PROJECTS SECTION -->
<div class="section-head center-head" id="more-proj">More Projects</div>

<div class="row center proj-buttons">
<div class="btn-proj btn-proj-selected" id="proj-all">
    <div class="content">All</div>
</div>
<span class="btn-proj" id="proj-app">
    <div class="content">Apps</div>
</span>
<span class="btn-proj" id="proj-game">
    <div class="content">Games</div>
</span>
<span class="btn-proj" id="proj-web">
    <div class="content">Websites</div>
</span>
<span class="btn-proj" id="proj-other">
    <div class="content">Other</div>
</span>
</div>

<!-- START PROJECT CARDS -->
<div class="truncated container" id="proj-cards">

{% for project in more-projects %}

    {% comment %} Start a new row on even numbers {% endcomment %}
    {% comment %} {% if project.newRow %}
        <div class="row">
    {% endif %} {% endcomment %}

    <div class="proj-card-container proj-{{project.type}} {% if project.initiallyHidden %} hide-when-truncated {% endif %}">
        <div class="content-box proj-card">
            <div class="content">
                <div class="proj-name">
                    {% if project.nameImg %}
                        <img src="img/{{project.nameImg}}" alt="{{project.name}}" loading="lazy">
                    {% else %}
                        {{project.name}}
                    {% endif %}
                </div>
                <div class="center">
                
                    {% if project.link %}
                        <a class="feature-link proj-link" href="{{project.link}}" target="_blank" rel="noopener">
                            <i class="fas fa-globe"></i>
                        </a>
                    {% endif %}
                    <a class="feature-link proj-link" href="{{project.github}}" target="_blank" rel="noopener">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="proj-desc">{{project.description}}</div>
                <div class="proj-icons">
                    {% for icon in project.icons %}
                        <div class="proj-icon">
                            <i class="{{icon.icon}}"></i>
                            <div class="icon-label">{{icon.label}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% comment %} End row, if applicable {% endcomment %}
    {% comment %} {% if project.newRow == false %}
        </div>
    {% endif %} {% endcomment %}
{% endfor %}


</div>
 <div class="center">
    <div id="more-proj-btn" class="btn-proj center" onclick="toggleMoreProjects()">
        <div class="content">View More</div>
    </div>
</div>