<!-- MORE PROJECTS SECTION -->
<div class="section-head center-head">More Projects</div>

<div class="row center proj-buttons">
<div class="btn-proj btn-proj-selected" id="proj-all">
    <div class="content">All</div>
</div>
<span class="btn-proj" id="proj-web">
    <div class="content">Websites</div>
</span>
<span class="btn-proj" id="proj-game">
    <div class="content">Games</div>
</span>
<span class="btn-proj" id="proj-app">
    <div class="content">Apps</div>
</span>
<span class="btn-proj" id="proj-other">
    <div class="content">Other</div>
</span>
</div>

<!-- START PROJECT CARDS -->
<div class="truncated" id="proj-cards">

{% for project in more-projects %}

    {% comment %} Start a new row on even numbers {% endcomment %}
    {% if project.newRow %}
        <div class="row">
    {% endif %}

    <div class="col-6">
        <div class="content-box proj-card proj-{{project.type}}">
            <div class="content">
                <div class="proj-name">
                    {% if project.nameImg %}
                        <img src="img/{{project.nameImg}}">
                    {% else %}
                        {{project.name}}
                    {% endif %}
                </div>
                <div class="center">
                
                    <span class="feature-link proj-link" onclick="openInNewTab('{{project.github}}')">
                    <i class="fab fa-github"></i>
                    </span>
                    {% if project.link %}
                        <span class="feature-link proj-link" onclick="openInNewTab('{{project.link}}')">
                        <i class="fas fa-external-link-square-alt"></i>
                        </span>
                    {% endif %}
                </div>
                <div class="proj-desc">{{project.description}}</div>
                <div class="proj-icons">
                    {% for icon in project.icons %}
                        <div class="proj-icon">
                            <i class="{{icon.icon}}"></i>
                            <div class="icon-label">{{icon.label}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% comment %} End row, if applicable {% endcomment %}
    {% if project.newRow == false %}
        </div>
    {% endif %}
{% endfor %}


</div>
 <div class="center">
    <div id="more-proj-btn" class="btn-proj center" onclick="toggleMoreProjects()">
        <div class="content">View More</div>
    </div>
</div>