---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.astro';
import { MDLink } from '../components/links.tsx';
import { ColorDot } from '../components/colorDot.tsx';
import '../sass/blog.scss';
import '../sass/links.scss';

export const prerender = true;
export async function getStaticPaths() {
  const entries = await getCollection('root');
  return entries.map(entry => ({
    params: { root: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} currPage={entry.data.title}>
  <h1 class="blog-title" data-lastmod={entry.data.date.toISOString()}>{entry.data.title}</h1>
  <div class="blog-content">
    <Content components={{ a: MDLink, ColorDot }} />
  </div>
</Layout>
