---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.astro';
import '../sass/blog.scss';
import '../sass/links.scss';
import { MDLink } from '../components/links.tsx';
import { ToDateString } from '../components/factories';
import { components } from '../components/blog.tsx';
import Comments from '../components/bluesky.tsx';

export const prerender = true;
export async function getStaticPaths() {
  const entries = await getCollection('blog');
  return entries.map(entry => ({
    params: { blog: 'blog/' + entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
const imgLink = entry.data.image
  ? 'https://bencuan.me/img/' + entry.data.image
  : 'https://bencuan.me/img/opengraph/og-banner.png';
---

<Layout currPage={'blog'} title={entry.data.title} description={entry.data.description} image={imgLink}>
  <h1 class="blog-title">{entry.data.title}</h1>
  <p class="blog-date">{ToDateString(entry.data.date, true)}</p>
  <p class="blog-description">{entry.data.description}</p>
  <div class="blog-content">
    <Content components={{ ...components, a: MDLink }} />
  </div>
  <Comments client:idle />
</Layout>
