---
import Layout from '../components/layout';
import Seo from '../components/seo.astro';
import { getCollection } from 'astro:content';
import SearchSortFilter from '../components/searchSortFilter';
import { IconList } from '../components/factories';
import '../sass/blog.scss';
import '../sass/library.scss';
import '../sass/button.scss';
import { faLocationDot, faStar } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';

const collection = await getCollection('library');
const items = collection.map(item => ({ ...item.data, slug: item.slug, description: item.body }));
---

<head>
  <Seo title="ben's library" description="builder" />
  <script async src="https://tally.so/widgets/embed.js"></script>
</head>
<Layout currPage="recipes" customPages={[{ name: 'recipes', url: '/recipes' }]} client:load>
  <h1 class="blog-title">bookshelf</h1>

  <h2>about</h2>
  <p>
    I like collecting physical books on a physical bookshelf. The experience of reading isn’t complete to me without
    carrying around something tangible and being able to associate ideas and stories with the <FontAwesomeIcon
      icon={faLocationDot}
    /> time and place I discovered them.
  </p>

  <p>
    While I tend to save, highlight, link, and hop all around digital content, I just start books on page 1 and trust
    the author to deliver a self-contained experience. You won’t see any notes from me besides the short post-reading
    reviews on this page.
  </p>

  <p>
    If you have book recs, submit them <button class="button" data-tally-open="meeJ1J">here!</button> I’ll save them in the
    back of my mind, and if I ever stumble across it in a bookstore or library I'll grab it and let you know.
  </p>

  <h2>ratings</h2>

  <p>
    ∅ no stars: If I didn't think a book was worth recommending, it won't be on this list- so having no stars isn't a
    bad thing! But YMMV on these: they range anywhere from ‘just above average’ to ‘absolutely incredible but not for a
    general audience’.
  </p>
  <p>
    <IconList icon={faStar} count={1} className="intro-star" /> one star: great read! I had a fun time and learned something
    new.
  </p>
  <p>
    <IconList icon={faStar} count={2} className="intro-star star2" /> two stars: I recommend this book to anyone who likes
    reading. I think about its ideas and revisit it pretty regularly.
  </p>
  <p>
    <IconList icon={faStar} count={3} className="intro-star star3" /> three stars: this book changed my life and maybe it
    will change yours too.
  </p>

  <p></p>
  <h2>list</h2>
  <SearchSortFilter
    sortCategories={['title', 'author', 'rating']}
    items={items}
    type="book"
    defaultSort={{ category: 'date', state: 'desc' }}
    client:load
  />
</Layout>
