---
import Layout from '../components/layout.astro';
import Seo from '../components/seo.astro';
import { XLink } from '../components/links.tsx';
import '../sass/blog.scss';
import '../sass/projects.scss';

const statuses = ['planning', 'development', 'production', 'LTS'];

const activeProjects = [
  {
    name: 'blog',
    status: 'production',
    link: 'https://bencuan.me/blog',
    description: ['some thoughts, goals, and dreams.', 'article production in progress.'],
  },
  {
    name: 'turtlenet',
    status: 'production',
    link: 'https://devlog.bencuan.me/series/turtlenet',
    description: ['a beginner’s guide to homelabbing.', 'prepping for season 2...'],
  },
  {
    name: 'notes',
    status: 'LTS',
    link: 'https://notes.bencuan.me',
    description: [
      'deciphering Berkeley CS classes for general consumption on an Obsidian-friendly markdown rendering engine.',
    ],
  },
  // {
  //   name: 'azulea',
  //   status: 'planning',
  //   link: 'https://azulea.me',
  //   description: ['coming soon to a major music distributor near you']
  // },
];

const completedProjects = [
  {
    name: 'catan',
    link: 'https://catan.bencuan.me',
    description: 'roll without replacement for extra spicy strategy',
  },
  {
    name: 'amethyst',
    link: 'https://amethyst.bencuan.me',
    description: 'hugo theme for obsidian notes',
  },
  {
    name: 'dotfiles',
    link: 'https://github.com/64bitpandas/dotfiles',
    description: 'pretty linux configs',
  },
  {
    name: 'simultaneous-scrabble',
    link: 'https://scrabbleserver.bencuan.me',
    description: 'multiplayer online scrabble where everyone plays at the same time',
  },
  {
    name: 'inboxier',
    link: 'https://github.com/64bitpandas/inboxier',
    description: 'a true Google Inbox extension for gmail, with built-in bundling',
  },
  {
    name: 'room-of-sounds',
    link: 'https://github.com/64bitpandas/RoomOfSounds',
    description: 'Unity to Max/MSP interoperability demo',
  },
  {
    name: 'piazza-archiver',
    link: 'https://github.com/64bitpandas/piazza-archiver',
    description: 'download all Piazza posts from a course in json format',
  },
  {
    name: 'launchhacks',
    link: 'https://launchhacks.bananium.com',
    description: 'just another high school hackathon',
  },
];
---

<Layout currPage="projects" title="bencuan's projects" description="i make things">
  <!-- <div class="container"> -->
  <h1 class="blog-title">project status</h1>
  {
    activeProjects.map(proj => (
      <div class="proj-container">
        <div class="proj-sidebar">
          <div class="center-desktop">
            {statuses.map(status => (
              <div class={`proj-status ${status === proj.status ? `curr-status status-${proj.status}` : ''}`}>
                {status}
              </div>
            ))}
          </div>
        </div>
        <div class="proj-content">
          <XLink href={proj.link} label={proj.name} className="link proj-link">
            {proj.name}
          </XLink>
          <p>
            {proj.description.map(line => (
              <>
                {line}
                <br />
              </>
            ))}
          </p>
        </div>
      </div>
    ))
  }

  <h2>completed projects</h2>
  {
    completedProjects.map(proj => (
      <div class="completed-project">
        <XLink href={proj.link} label={proj.name} className="link proj-link">
          {proj.name}
        </XLink>
        <p>{proj.description}</p>
      </div>
    ))
  }
  <!-- </div> -->
</Layout>
