---
import Layout from '../components/layout';
import Seo from '../components/seo.astro';
import { getCollection } from 'astro:content';
import SearchSortFilter from '../components/searchSortFilter.tsx';
import { IconList, type Recipe } from '../components/factories';
import '../sass/recipe.scss';
import { faBowlRice, faClock, faPepperHot, faSprout, faStar } from '@fortawesome/free-solid-svg-icons';

const collection = await getCollection('recipes');
const items = collection.map(item => ({ ...item.data, slug: item.slug }));
---

<head>
  <Seo title="ben's recipes" description="builder" />
</head>
<Layout currPage="recipes" customPages={[{ name: 'recipes', url: '/recipes' }]} client:load>
  <h1 class="recipe-title">recipes</h1>
  <p class="splash">Simple work-in-progress recipes.</p>
  <p></p>
  <span class="small-text ui-text">
    <div><IconList icon={faStar} count={1} className={'star'} /> rare</div>
    <div><IconList icon={faStar} count={2} className={'star'} /> epic</div>
    <div><IconList icon={faStar} count={3} className={'star'} /> legendary</div>
    <div><IconList icon={faSprout} count={1} className={'sprout'} /> vegetarian</div>
    <div><IconList icon={faSprout} count={2} className={'sprout'} /> vegan</div>
    <div><IconList icon={faBowlRice} count={1} /> asian grocery required</div>
    <div><IconList icon={faPepperHot} count={1} className={'pepper'} /> spicy</div>
    <div><IconList icon={faClock} count={1} className={'clock'} /> quick {'(≤15 min)'}</div>
  </span>
  <h2>menu</h2>
  <SearchSortFilter
    sortCategories={['title', 'date', 'rating', 'difficulty', 'time']}
    itemCategories={['baking', 'cooking', 'building blocks']}
    items={items}
    type="recipe"
    client:load
  />
</Layout>
