---
import { Tooltip } from 'react-tooltip';
import '../sass/layout.scss';
import Footer from './footer';
import Header, { type HeaderLink } from './header';
import Seo from './seo.astro';

const { title, description, currPage, headContent, customPages, image, bodyClass = '' } = Astro.props;
---

<!--
The Layout component serves as the base component in which all content should be wrapped around.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <Seo title={title} description={description} image={image} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-0.xml" />
    {headContent}
  </head>
  <div class={`body container ${bodyClass}`.trim()}>
    <Tooltip
      client:idle
      disableStyleInjection
      id="tooltip"
      className="link-tooltip"
      noArrow
      delayShow={150}
      delayHide={150}
    />
    <Header currPage={currPage} customPages={customPages} client:idle />
    <main>
      <slot />
    </main>

    <Footer currPage={currPage} client:idle />
  </div>
</html>
